@{
    ViewBag.Title = "Sobre la Pagina";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta es una pagina desarrollada en mi primer dia como Coolaborador de RedOwl</p>
<div class="show">
    <h1><a href="http://www.redowlsoft.online/" class="btn btn-primary btn-success">Deseo un Sitio Web &raquo;</a></h1>
    
</div>
