@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LICEO GUATEMALA</h1>
    <p class="lead">Labrando el Futuro de las siguientes generaciones.</p>
    <p><a href="http://www.redowlsoft.online/" class="btn btn-primary btn-success">Deseo un Sitio Web &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a Liceo Guatemala</h2>
        <p>
            En el Liceo Guatemala la Educacion de sus hijos es primordial
            Por lo que contamos con los mejores catedraticos y los mejores cursos
            para prepararle de la mejor manera
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ver nuestras Carreras</h2>
        <p>Contamos con todo tipo de Carreras para prepararle de la mejor manera</p>
        <p><a class="btn btn-lg" href="http://liceoguatemala.edu.gt/portal/" ">Ir al sitio Web oficial &raquo;</a></p>
    </div>
</div>